<section class="container champion">
    <h2>Champion Build List</h2>
    <div class="row">
        <div class="item-set-info col-xs-12"
             ng-repeat="build in championVm.builds"
             ui-sref="build({buildId: build.id})">
            <div>
                <img class="champion-image"
                     ng-src="http://lkimg.zamimg.com/images/v2/champions/icons/size100x100/{{championVm.champion.id}}.png"
                     alt="{{championName}}" />
                <div class="build-details">
                    <div class="build-title" ng-bind="build.title | limitTo : 50"></div>
                    <div class="build-author">
                        <span>Created By: </span>
                        <span ng-bind="build.author"></span>
                    </div>
                    <span class="build-date" ng-bind="build.date"></span>
                </div>
                <div class="build-social">
                    <div>
                        <span class="champion-details-top-set-info-rating">
                            <i class="fa fa-star fa-1"
                               ng-class="championVm.starShadeClass(build.averageRating, 0)"></i>
                            <i class="fa fa-star fa-1"
                               ng-class="championVm.starShadeClass(build.averageRating, 1)"></i>
                            <i class="fa fa-star fa-1"
                               ng-class="championVm.starShadeClass(build.averageRating, 2)"></i>
                            <i class="fa fa-star fa-1"
                               ng-class="championVm.starShadeClass(build.averageRating, 3)"></i>
                            <i class="fa fa-star fa-1"
                               ng-class="championVm.starShadeClass(build.averageRating, 4)"></i>
                        </span>
                    </div>
                    <div>
                        <span ng-bind="build.commentCount"></span>
                        <span>Comments</span>
                        <i class="fa fa-comments fa-1"></i>
                    </div>
                </div>
            </div>
            <div class="ribbon top-lane" ng-if="build.role === 'Top Lane'"><span>Top Lane</span></div>
            <div class="ribbon mid-lane" ng-if="build.role === 'Mid Lane'"><span>Mid Lane</span></div>
            <div class="ribbon jungle" ng-if="build.role === 'Jungle'"><span>Jungle</span></div>
            <div class="ribbon marksmen" ng-if="build.role === 'Marksmen'"><span>Marksmen</span></div>
            <div class="ribbon support" ng-if="build.role === 'Support'"><span>Support</span></div>
            <div class="ribbon general" ng-if="build.role === 'General'"><span>General</span></div>
        </div>
    </div>
</section>