<div class="champion-banner">
    <img class="splash" ng-src="./images/{{championBannerVm.build.champion.championName}}_Splash_0.jpg" />
    <div>
        <img class="champion-portrait" ng-src="./images/{{championBannerVm.build.champion.championName}}_Square_0.png" />
        <section class="champion-details">
            <div class="champion-details-name">
                <span ng-bind="championBannerVm.build.champion.championName"
                      ui-sref="champion({championName: championBannerVm.build.champion.championName})"></span>
            </div>
            <div class="champion-details-top-set" ng-if="!championBannerVm.build.noData">
                <a ui-sref="build({buildId: championBannerVm.build._id})">
                    <i class="fa fa-link"></i>
                    <span ng-bind="championBannerVm.build.itemSetDetails.title"></span>
                </a>
            </div>
            <div class="champion-details-top-set-info" ng-if="!championBannerVm.build.noData">
                <span ng-bind="championBannerVm.build.role"></span>
                <span class="text-spacer">|</span>
                <span class="champion-details-top-set-info-rating">
                    <i class="fa fa-star fa-1"
                       ng-class="championBannerVm.starShadeClass(championBannerVm.build.averageRating, 0)"></i>
                    <i class="fa fa-star fa-1"
                       ng-class="championBannerVm.starShadeClass(championBannerVm.build.averageRating, 1)"></i>
                    <i class="fa fa-star fa-1"
                       ng-class="championBannerVm.starShadeClass(championBannerVm.build.averageRating, 2)"></i>
                    <i class="fa fa-star fa-1"
                       ng-class="championBannerVm.starShadeClass(championBannerVm.build.averageRating, 3)"></i>
                    <i class="fa fa-star fa-1"
                       ng-class="championBannerVm.starShadeClass(championBannerVm.build.averageRating, 4)"></i>
                </span>
                <span class="text-spacer">|</span>
                <span class="champion-details-top-set-info-comments">
                    <span ng-bind="championBannerVm.build.commentCount"></span>
                    <span>Comments</span>
                    <i class="fa fa-comments fa-1"></i>
                </span>
            </div>
            <div class="champion-details-build-actions">
                <button class="btn btn-xs btn-default create-item-set"
                        ng-click="championBannerVm.createItemSet()">
                    <i class="fa fa-plus fa-1"></i>
                    <span> | Create Item Set</span>
                </button>
                <button class="btn btn-xs btn-default copy-item-set"
                        ng-if="!championBannerVm.build.noData"
                        ng-click="championBannerVm.copyItemSet()">
                    <i class="fa fa-files-o fa-1"></i>
                    <span> | Copy Item Set</span>
                </button>
                <button class="btn btn-xs btn-default download-item-set"
                        ng-if="!championBannerVm.build.noData"
                         ng-click="championBannerVm.downloadItemSet()">
                    <i class="fa fa-download fa-1"></i>
                    <span> | Download Item Set</span>
                </button>
            </div>
        </section>
    </div>
</div>

<download-build class="download-build"
                build="championBannerVm.build"
                modal-state="championBannerVm.downloadBuild"
                ng-if="championBannerVm.downloadBuild"
                ng-animate="'animate'"></download-build>